<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="govuk-template">
  <head>
    <title></title>
  </head>
  <body>
    <th:block th:if="${phaseBanner != null}" th:fragment="phaseBanner">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag" th:text="${phaseBanner}"></strong>

          <span class="govuk-phase-banner__text" th:if="${phaseBannerLink != null}">
            <span th:text="#{label.phaseBanner.thisIsATrialServiceYour}"></span>
            <a class="govuk-link" th:href="${phaseBannerLink}"
               data-event-id="feedback-link"
               th:text="feedback">feedback</a>
            <span th:text="#{label.phaseBanner.willHelpUsToImproveIt}"></span>
          </span>
        </p>
      </div>
    </th:block>
  </body>
</html>
