<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        Confirmation
    </title>
</head>

<div id="confirmation-main-content" layout:fragment="content">
    <form th:action="@{''}" method="post" class="form" id="confirmation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation" id="confirmation-details">
                    <div class="govuk-panel__body govuk-!-margin-bottom-6" id="confirmation-company-name-number">
                        <h1 class="govuk-panel__title">
                            Penalty Paid
                        </h1>
                        <div class="govuk-panel__body">
                            Penalty reference:
                            <br>
                            <span class="govuk-!-font-weight-bold" th:text="*{penaltyNumber}"/>
                        </div>
                    </div>
                </div>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-grid-column-one-third">Issued to</th>
                        <td class="govuk-table__cell govuk-grid-column-two-thirds" th:text="${companyName}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-grid-column-one-third">Company number</th>
                        <td class="govuk-table__cell govuk-grid-column-two-thirds" th:text="${companyNumber}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-grid-column-one-third">Reason for penalty</th>
                        <td class="govuk-table__cell govuk-grid-column-two-thirds" th:text="${reason}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-grid-column-one-third">Paid on</th>
                        <td class="govuk-table__cell govuk-grid-column-two-thirds" th:text="${paymentDate}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-grid-column-one-third">Amount</th>
                        <td class="govuk-table__cell govuk-grid-column-two-thirds" th:text="${penaltyAmount}"></td>
                    </tr>
                    </tbody>
                </table>
                <h2 class="govuk-heading-m">
                    What happens next
                </h2>
                <p class="govuk-body">
                    We'll update your account within 24 hours.
                </p>
                <p class="govuk-body">
                    We've emailed these details to
                    <span class="govuk-!-font-weight-bold" th:text="${userEmail}">keyvalue</span>.
                    GOV.UK Pay will also send an email confirming that your payment was successful.
                </p>
                <p class="govuk-body">
                    You do not need to contact us to tell us that you've paid.
                </p>
                <div class="govuk-cookie-banner">
                    <div class="govuk-cookie-banner__message govuk-width-container">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-!-padding-right-7 govuk-!-padding-left-7" >
                                <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                                    Sign up for email remainders
                                </h2>
                                <div class="govuk-cookie-banner__content">
                                    <p class="govuk-body">You can sign up to receive an
                                        <a href="https://www.gov.uk/guidance/online-filing-and-email-reminders-for-companies#reminders" class="govuk-link">email reminder</a>
                                        to file your company accounts. This will help you file on time in future and avoid penalties.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h2 class="govuk-heading-m">
                    If you have another penalty to pay
                </h2>
                <p class="govuk-body">
                    You can use this service again to
                    <a class="govuk-link" href="/late-filing-penalty/ref-starts-with" th:target="_blank">pay another penalty</a>.
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/pay-lfp-confirmation/" th:target="_blank">What did you think of this service?</a>
                    (takes 30 seconds)
                </p>
            </div>
        </div>
    </form>
</div>
</html>