<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        Confirmation
    </title>
</head>

<div id="confirmation-main-content" layout:fragment="content">
    <form th:action="@{''}" method="post" class="form" id="confirmation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation" id="confirmation-details">
                    <div class="govuk-panel__body" id="confirmation-penalty-reference">
                        <h1 class="govuk-panel__title">
                            Penalty paid
                        </h1>
                        <div class="govuk-panel__body">
                            Penalty reference:
                            <span class="govuk-!-font-weight-bold" th:text="*{penaltyRef}"/>
                        </div>
                    </div>
                </div>
                <br>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Issued to</dt>
                        <dd class="govuk-summary-list__value" th:text="${companyName}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Company number</dt>
                        <dd class="govuk-summary-list__value" th:text="${companyNumber}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Reason for penalty</dt>
                        <dd class="govuk-summary-list__value" th:text="${reason}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Paid on</dt>
                        <dd class="govuk-summary-list__value" th:text="${paymentDate}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Amount</dt>
                        <dd class="govuk-summary-list__value" th:text="'£' + ${penaltyAmount} + ' (no VAT is charged)'"></dd>
                    </div>
                </dl>
                <h2 class="govuk-heading-m">
                    What happens next
                </h2>
                <p class="govuk-body">
                    We'll update your account within 24 hours.
                </p>
                <p class="govuk-body">
                    We've emailed these details to
                    <span class="govuk-!-font-weight-bold" th:text="${userEmail}">keyvalue</span>.
                    GOV.UK Pay will also send an email confirming that your payment was successful.
                </p>
                <p class="govuk-body">
                    You do not need to contact us to tell us that you've paid.
                </p>
                <div class="govuk-cookie-banner">
                    <div class="govuk-width-container govuk-!-static-margin-top-1 govuk-!-static-margin-left-5 govuk-!-static-margin-right-5 govuk-!-static-margin-bottom-6">
                        <h2 class="govuk-heading-m">
                            Sign up for email reminders
                        </h2>
                        <p class="govuk-body">You can sign up to receive
                            <a href="https://www.gov.uk/guidance/online-filing-and-email-reminders-for-companies#reminders" class="govuk-link">email reminders</a>
                            to file your company accounts. This will help you file on time in future and avoid penalties.
                    </div>
                </div>
                <br>
                <h2 class="govuk-heading-m">
                    If you have another penalty to pay
                </h2>
                <p class="govuk-body">
                    You can use this service again to <a id="penalty-ref-starts-with-link"
                                                         th:href="${@environment.getProperty('penalty.ref-starts-with-url')}"
                                                         class="govuk-link">pay another penalty</a>.
                </p>
                <br><br>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/pay-lfp-confirmation/" th:target="_blank">What did you think of this service?</a>
                    (takes 30 seconds)
                </p>
            </div>
        </div>
    </form>
</div>
</html>