<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        Penalty Details
    </title>
</head>

    <div id="enter-details"  layout:fragment="content">
        <form id="enterdetails" th:action="@{''}" th:object="${enterDetails}" method="post" class="form">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div th:replace="fragments/ppsGlobalErrors :: globalErrors"></div>

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Penalty details</h1>

                    <span class="govuk-error-message"
                        id="penaltyNotFound-errorId"
                        th:if="${#fields.hasErrors('global')}"
                        th:each="err : ${#fields.errors('global')}" th:text="${err}">
                    </span>

                    <div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('companyNumber')} ? 'govuk-form-group--error' : ''">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="company-number">
                                    What is the company number?
                                </label>
                            </h1>

                            <span class="govuk-error-message"
                                  id="companyNumber-errorId"
                                  th:if="${#fields.hasErrors('companyNumber')}"
                                  th:each="e : ${#fields.errors('companyNumber')}" th:text="${e}">
                            </span>

                            <div id="company-number-hint" class="govuk-hint">
                                This is 8 characters. Enter it exactly as shown on the penalty notice. For example, 12345678 or AB123456.
                            </div>

                            <input class="govuk-input govuk-input--width-10"
                                   id="company-number"
                                   th:field="*{companyNumber}"
                                   th:errorclass="govuk-input--error"
                                   name="company-number"
                                   type="text"
                                   maxlength="8">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('penaltyNumber')} ? 'govuk-form-group--error' : ''">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--m" for="penalty-ref">
                                    What is the reference number?
                                </label>
                            </h1>

                            <span class="govuk-error-message"
                                  id="penaltyNumber-errorId"
                                  th:if="${#fields.hasErrors('penaltyNumber')}"
                                  th:each="e : ${#fields.errors('penaltyNumber')}" th:text="${e}">
                            </span>

                            <div id="penalty-reference-hint" class="govuk-hint">
                                This starts with A, followed by 7 numbers. For example, A1234567.
                            </div>

                            <input class="govuk-input govuk-input--width-10"
                                   id="penalty-ref"
                                   th:field="*{penaltyNumber}"
                                   th:errorclass="govuk-input--error"
                                   name="penalty-ref"
                                   type="text"
                                   maxlength="16">
                        </div>
                        <div class="govuk-form-group">
                            <details class="govuk-details piwik-event" data-event-id="Details - Where can I find these details" data-module="govuk-details" aria-labelledby="details-summary">
                                <summary class="govuk-details__summary" id="details-summary">
                                    <span class="govuk-details__summary-text">
                                        Where to find the penalty details
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p>You'll find these numbers at the top of the penalty notice we sent to you.</p>
                                    <div id="penalty-notice-image">
                                        <img th:src="@{images/penalty-notice.png}" alt="penalty notice">
                                    </div>
                                </div>
                            </details>
                        </div>
                        <div class="form-group">
                            <input id="next-button" class="govuk-button piwik-event" data-event-id="Details - Continue" type="submit" role="button" value="Continue"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</html>