<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Home</title>
</head>
<div layout:fragment="signout"></div>
<div layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="home">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="main-heading">
                    Pay a penalty to Companies House
                </h1>
                <p class="govuk-body">Use this service to make an online payment by credit or debit card if you've
                    received a penalty notice from Companies House.</p>
                <p class="govuk-body">You'll need:</p>
                <ul class="govuk-list govuk-list--bullet" id="list-requirements">
                    <li>to sign in to or create a Companies House account (this is different to a WebFiling account)
                    </li>
                    <li>a credit or debit card</li>
                    <li>the information on your penalty notice (that we sent you in the post)</li>
                </ul>

                <div class="govuk-!-margin-top-6">
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">I've lost my penalty notice
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body"> Email <a href="mailto:enquiries@companieshouse.gov.uk"
                                                            class="govuk-link">enquiries@companieshouse.gov.uk</a> to
                                let us know if you have lost your penalty notice. Use 'Lost penalty notice' as the email
                                subject.
                            </p>
                            <p></p>Tell us as much information as you can about the penalty so we can pass your message
                            to the right team.
                        </div>
                    </details>
                </div>

                <p class="govuk-body">You must pay the full amount.</p>
                <p class="govuk-body">It takes around 5 minutes to pay.</p>

                <a href="what-does-the-penalty-reference-start-with" role="button" draggable="false"
                   class="govuk-button govuk-button--start" data-module="govuk-button" data-event-id="pps - Start now"
                   onclick="_paq.push(['trackGoal', 3]);">Start now
                    <!--Waiting for SAN-29 to complete link above (line 50)-->
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                         viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                    </svg>
                </a>

                <p class="govuk-body">
                    <a href="https://www.gov.uk/government/publications/companies-house-approach-to-financial-penalties"
                       class="govuk-link">Read the guidance for more information about Companies House penalties</a>.
                </p>

                <div class="govuk-!-margin-top-6">
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"> Pay by bank transfer</span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">This payment method usually takes longer to process (up to 4 working
                                days). <a href="late-filing-penalty/bank-transfer/which-penalty-service" class="govuk-link">Find out which
                                    account details to use for a bank transfer</a>.
                                <!--Waiting for SAN-71 to complete link above (line 72)--></p>
                        </div>
                    </details>
                </div>

                <div class="govuk-!-margin-top-6">
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"> I want to appeal a penalty </span>
                        </summary>
                        <div class="govuk-details__text">
                            <h3 class="govuk-heading-s">If you have a late filing penalty</h3>
                            This option is only for penalties for late filing of accounts. You can <a
                                href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late"
                                class="govuk-link">appeal a late filing penalty (for filing accounts late) through
                            Companies House</a>. You must show that the reasons are exceptional.<p></p>
                            <h3 class="govuk-heading-s">If you have any other type of penalty</h3>
                            <p></p>
                            You can only appeal through the courts. <a
                                href="https://www.advicenow.org.uk/guides/appealing-against-county-court-decision"
                                class="govuk-link">Read guidance from Advicenow</a> or contact a solicitor for help with
                            this.<p></p>
                            You have 28 days from when the penalty was issued to make an appeal. If you've submitted an
                            appeal to the courts, you need to <a href="https://www.gov.uk/contact-companies-house" class="govuk-link">
                            tell us by email or in writing </a>(within 7 days).<p></p>
                            <p></p>
                            You cannot appeal directly to Companies House, and we are not able to offer legal advice.
                        </div>
                    </details>
                    <br>
                    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from
                        AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the
                        background colour or text size.</p>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
