<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        You need to pay by bank transfer
    </title>
</head>

<div id="online-payment-unavailable-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="online-payment-unavailable">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 id="page-title " class="govuk-heading-xl">
                    <span id="page-title-heading">You need to pay by bank transfer</span>
                </h1>
                <p class="govuk-body">
                    You cannot use this online service to pay this penalty.
                </p>
                <p class="govuk-body">
                    Pay by bank transfer instead, using these account details.
                </p>
                <div class="govuk-inset-text">Check the details carefully, as they may be different from other
                    transactions you've made with us.
                </div>

                <h3 class="govuk-heading-s">Bacs payments</h3>
                <ul class="govuk-list govuk-list--bullet" id="banking-details">
                    <li>
                        <span class="govuk-!-font-weight-bold">Account name</span>:
                        <span id="late-filing-account-name"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.account-name')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Sort code</span>:
                        <span id="late-filing-sort-code"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.sort-code')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Account number</span>:
                        <span id="late-filing-account-number"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.account-number')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Payment reference</span>: Use your penalty reference, so
                        that we know which penalty you've paid.
                        Your payment may be delayed if you use the wrong reference.
                    </li>
                </ul>

                <h3 class="govuk-heading-s">Overseas payments</h3>
                <ul class="govuk-list govuk-list--bullet" id="overseas-banking-details">
                    <li>
                        <span class="govuk-!-font-weight-bold">IBAN</span>:
                        <span id="late-filing-iban"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.iban')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">SWIFT code (BIC)</span>:
                        <span id="late-filing-swift-code"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.swift-code')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Payment reference</span>: Use your penalty reference, so
                        that we know which penalty you've paid.
                        Your payment may be delayed if you use the wrong reference.
                    </li>
                </ul>

                <p class="govuk-body"><b>What happens next</b></p>
                <p class="govuk-body">Your payment may take up to 4 working days to process.</p>
                <p class="govuk-body">If you have any questions, you can
                    <a href="https://www.gov.uk/contact-companies-house" class="govuk-link">contact us</a>.</p>
            </div>
        </div>
    </form>
</div>
</html>
