<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        View your penalty
    </title>
</head>

<div id="view-penalties-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="viewPenalties">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 id="page-title " class="govuk-heading-xl">
                    <span id="page-title-heading">Penalty summary</span>
                </h1>

                <table class="govuk-table" style="width: 800px">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header" style="width:40%">Issued to</td>
                        <td class="govuk-table__cell" th:text="${companyName}"></td>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Company number</td>
                        <td class="govuk-table__cell" th:text="${companyNumber}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header" th:text="#{viewPenalties.penalty-ref-title}"></td>
                        <td class="govuk-table__cell" th:text="${penaltyReference}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Reason for penalty</td>
                        <td class="govuk-table__cell" th:text="${reasonForPenalty}"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Amount</td>
                        <td class="govuk-table__cell" th:text="'£' + ${outstanding} + ' (no VAT is charged)'"></td>
                    </tr>
                    </tbody>
                </table>

                <h2 id="page-total" class="govuk-heading-m" th:text="'Total: £' + ${outstanding}"></h2>
                <div class="form-group">
                    <input id="next-button" class="govuk-button piwik-event" data-event-id="View Penalties - Continue" type="submit" role="button" value="Continue to payment"/>
                </div>
            </div>
        </div>
    </form>
</div>
</html>